.mid-sec {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  height: 100px;
  margin-bottom: 20px;
}

#search {
  height: 34px;
  width: 400px;
  margin-right: 10px;
  border: none;
  background-color: #f8f9fa;
  color: black;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  font-family: inherit;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  &.dark {
    background-color: #2b3844;
    color: white;
  }
}

#region {
  width: 250px;
  background-color: #f8f9fa;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  color: black;
  padding: 17px 20px 17px 20px;
  border: none;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  cursor: inherit;
  line-height: inherit;
  &.dark {
    background-color: #2b3844;
    color: #f8f9fa;
  }
}

@media (max-width: 767px) {
  .mid-sec {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    margin-bottom: 0px;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    height: 200px;
  }

  #search {
    margin-bottom: 0;
    width: 200px;
  }

  #region {
    width: 140px;
    padding: 17px 10px 17px 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #search {
    margin-bottom: 0;
    width: 200px;
  }

  #region {
    width: 200px;
  }
}
